.ex-1-square:hover {
    background-color: red;
    transition: background-color 5s;
}




.ex-2-square:active {
    transition: ease-in-out 3s;
    width: 100%;
    height: 100px;

}



.ex-3-square:hover {
    transition: 3s;
    border-radius: 50%;

}

.ex-4-square:hover {
    transition: 2s;
    opacity: 0;
}


.ex-5-square:hover {
    transform: scale(1.5);
}

.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img:hover {
    transition: 2s;
    filter: grayscale(100%);
}

.ex-7-img:hover {
    transition: 2s;
    filter: grayscale(100%);

}


.ex-8-img:hover {
    transition: 2s;
    filter: blur(4px);
    filter: contrast(4);
    border-radius: 50px;

}


.ex-9-img:hover {
    transition: 2s;
    filter: blur(4px);
    filter: contrast(4);
    border-radius: 50px;
    transform: scale(1.2);
}

.ex-10-icon {
    font-size: 60px;
    animation-name: ruota;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes ruota {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.ex-11-icon:hover {
    font-size: 60px;
    transform: rotate(240deg);
    transition: 1s ease-in-out;
    animation-direction: reverse;
    
}




